body {
    margin-top: 120px;
    /*padding-top: 140px;*/
}

/**/
/*리모컨 메뉴*/
.sidebar {
    position: fixed;
    top: 40%;
    right: 3%;
    width: 150px;
}
.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    margin-bottom: 10px;
}
.menu li a {
    text-decoration: none;
    color: #E0E0E0;
}
.menu li a:hover {
    color: #000;
}
.menu li.active a {
    color: #000;
}

.navigation-buttons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 10px;
}

#btn-up, #btn-down {
    width: 50%;
    height: 30px;
    /*padding: px 16px;*/
    /*font-size: 14px;*/
    border: none;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;
    line-height: 30px;
}

#btn-up img, #btn-down img{
    width: 25px;
    vertical-align: middle;
    transition: content 0.3s ease;
}
#btn-up:hover img{
    content: url(../image/up_af_icon.png);
}
#btn-down:hover img{
    content: url(../image/down_af_icon.png);
}

#btn-up:hover, #btn-down:hover {
    background-color: #ddd;
}

/**/
/* 피부 결과 */
.result-container {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}
.result-container h1 {
    margin-bottom: 20px;
}

.model-result{
    margin-bottom: 50px;
}
.model-result p{
    font-size: 17px;
}

/* 결과 타입에 따른 글자 색상 */
.dry{
    color: rgb(255, 178, 102);
}
.oily{
    color: rgb(102, 178, 255)
}
.combination{
    color: rgb(178, 255, 102);
}

/* 피부 관리 속성 박스*/
.result-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 65px;
}

/* 피부 관리 속성 */
.skin-type-info{
    max-width: 700px;
    width: 100%;
    padding-top: 20px;
}
.skin-type-info p{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.type-content{
    display: flex;
    max-width: 530px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.type-content div{
    margin-bottom: 20px;
}
.type-content h3{
    margin-bottom: 10px;
}
.type-content ul{
    list-style: none;
}
.type-content li{

    margin-bottom: 10px;
}
.type-content li::before {
    content: '✓';
    margin-right: 10px;
}

.result-image {
    display: inline-block;
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    vertical-align: top;
}

.specific-term{
    cursor: pointer;
    color: #CC6600;
}

.detail-terminology{
    display: none;
}

.detail-terminology button{
    display: block;
    border: none;
    background-color: #fff;
    margin-right: 10px;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.detail-terminology.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out; /* fadeIn 애니메이션 적용 */
}

.detail-terminology button:hover {
    background-color: #C0C0C0;
    transition: background-color 0.5s; /* 변경할 속성 명시 */
}

.skin-type-info {
    display: inline-block;
    width: calc(100% - 267px);
    text-align: left;
    vertical-align: top;
}



/**/
/* 화장품 성분 관련 */
.ingredient-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;
}

.ingredient-card {
    width: 45%;
    padding: 20px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.good-ingredients {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.bad-ingredients {
    background-color: #ffebee;
    color: #c62828;
}

.ingredient-card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredient-item {
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.ingredient-item:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.icon {
    margin-right: 5px;
}


/**/
/* 팝업 스타일 */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* 팝업이 열릴 때의 애니메이션 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

#description-popup {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* 그림자 */
    padding: 20px;
}

/* 팝업 닫기 버튼 */
#popup-content {
    font-size: 16px;
    color: #333;
}

/* 닫기 버튼 스타일 */
#description-popup button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* 너비 변경 애니메이션 */
.popup {
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    width: auto; /* 내용에 맞게 너비 자동 조정 */
}


/**/
/* 화장품 추천 디자인 */
#cosmetics-section-title{
    margin-bottom: 40px;
}
.cosmetics-title{
    font-size: 20px;
    margin-bottom: 20px;
}


.product-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; /* 줄 바꿈 없이 가로로 계속 배치 */
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.detail-link-a{
    display: block;
    text-decoration: none;
    color: black;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image-container {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #FFD700;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.product-info {
    padding: 15px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 10px;
    height: 55px;
}

.star-rating-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-avg {
    display: flex;
    align-items: center;
}

.star-rating {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    color: #ccc;
    margin-right: 5px;
}

.filled-stars {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: #f1c40f;
}

.star-rating::before,
.star-rating .filled-stars::before {
    content: "★★★★★";
}

.review-count {
    font-size: 14px;
    color: #888;
}

.brand-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.brand-price p{
    font-size: 14px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 5px;
}


/* 돌아가기 */
.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.back-link:hover {
    text-decoration: underline;
}