<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="/css/register.css">
  <script src="/js/register.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- 서버에서 전달된 메시지를 Meta 태그로 포함 -->
  <meta name="alertMessage" th:if="${errorMessage}" th:content="${errorMessage}">
</head>
<body>

<div class="container">
  <h1>회원가입</h1>

  <div th:if="${errorMessage}">
    <p th:text="${errorMessage}" class="error-message"></p>
  </div>

  <form th:action="@{/api/users/register}" th:object="${user}" method="post">
    <div class="input-container">
      <i class="fas fa-user"></i>
      <input type="text" id="username" th:field="*{username}" placeholder="아이디" required />
      <div id="username-error" class="error-message"></div>
    </div>

    <div class="input-container">
      <i class="fas fa-user-tag"></i>
      <input type="text" id="nickname" th:field="*{nickname}" placeholder="닉네임" required />
      <div id="nickname-error" class="error-message"></div>
    </div>

    <div class="input-container">
      <i class="fas fa-envelope"></i>
      <input type="email" id="email" th:field="*{email}" placeholder="이메일" required />
      <div id="email-error" class="error-message"></div>
    </div>

    <div class="input-container">
      <i class="fas fa-lock"></i>
      <input type="password" id="password" th:field="*{password}" placeholder="비밀번호" required />
      <i id="passwordIcon" class="fas fa-eye toggle-password" onclick="togglePassword('password', this)" style="display: none;"></i>
    </div>

    <div class="input-container">
      <i class="fas fa-lock"></i>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인" required />
      <i id="confirmPasswordIcon" class="fas fa-eye toggle-password" onclick="togglePassword('confirmPassword', this)" style="display: none;"></i>
      <div id="confirm-password-error" class="error-message"></div>
    </div>

    <div class="input-container">
      <i class="fas fa-id-card"></i>
      <input type="text" id="name" th:field="*{name}" placeholder="이름" required />
    </div>

    <div class="input-container">
      <i class="fas fa-venus-mars"></i>
      <select id="gender" th:field="*{gender}" required>
        <option value="" disabled selected>성별 선택</option>
        <option value="none">선택 안 함</option>
        <option value="male">남자</option>
        <option value="female">여자</option>
      </select>
    </div>

    <!-- 기존 생년월일 입력 받는 폼(웹사이트 별로 유동적으로 입력 받기 가능) -->
    <!--    <div class="input-container">-->
    <!--      <i class="fas fa-calendar-alt"></i>-->
    <!--      <input type="date" id="birthDate" th:field="*{birthDate}" required />-->
    <!--    </div>-->
    <div class="input-container">
      <i class="fas fa-calendar-alt"></i>
      <input type="text" id="birthDate" th:field="*{birthDate}" placeholder="생년월일" required />
    </div>

    <button type="submit" id="submitButton">회원가입</button>
  </form>

  <form th:action="@{/login}" method="get">
    <button type="submit" class="secondary-button">로그인 페이지로 이동</button>
  </form>
</div>

</body>
</html>